body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:985px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:20px;
  top:0px;
  width:86px;
  height:92px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:92px;
}
#u1 {
  position:absolute;
  left:2px;
  top:38px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:369px;
  top:18px;
  width:320px;
  height:57px;
  font-size:48px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:57px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:20px;
  top:88px;
  width:960px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:2px;
}
#u5 {
  position:absolute;
  left:20px;
  top:622px;
  width:960px;
  height:10px;
}
#u5_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_end {
  position:absolute;
  left:943px;
  top:-5px;
  width:18px;
  height:20px;
}
#u5_line {
  position:absolute;
  left:0px;
  top:4px;
  width:960px;
  height:2px;
}
#u6 {
  position:absolute;
  left:16px;
  top:-17px;
  width:10px;
  height:644px;
}
#u6_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u6_end {
  position:absolute;
  left:-5px;
  top:627px;
  width:20px;
  height:18px;
}
#u6_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:644px;
}
#u7 {
  position:absolute;
  left:975px;
  top:-16px;
  width:10px;
  height:644px;
}
#u7_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u7_end {
  position:absolute;
  left:-5px;
  top:627px;
  width:20px;
  height:18px;
}
#u7_line {
  position:absolute;
  left:4px;
  top:0px;
  width:2px;
  height:644px;
}
#u8 {
  position:absolute;
  left:132px;
  top:177px;
  width:256px;
  height:256px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:256px;
}
#u9 {
  position:absolute;
  left:2px;
  top:120px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:562px;
  top:177px;
  width:256px;
  height:256px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:256px;
}
#u11 {
  position:absolute;
  left:2px;
  top:120px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:200px;
  top:427px;
  width:119px;
  height:37px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:37px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:586px;
  top:427px;
  width:209px;
  height:37px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:37px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:666px;
  top:464px;
  width:66px;
  height:19px;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
